.App{
  background-color: #f2f2f2;
  height: 650px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main{
  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width: 100%;
}
.extras{
  display: flex;
  height:75px;
  flex-wrap: wrap;
}
.extras> section{
  width: 25%;
  /* margin-right:10px; */
}
.extras> section:last-child{
  width: auto;
}
.extras> section input{
  margin-right:5px;
}
.runs{
  height:160px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.circle{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  float: left;
}
.circle:last-child{
  background-color: green;
  color: #EEEEEE;
}
.circle.overs{
  background-color:antiquewhite;
  border: 2px solid rgb(145, 88, 88);
  color: #000000;
}
.circleDisable{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid darkcyan;
  background: aliceblue;
  float: left;
}
table {
  font-size: 13px !important;
  margin-bottom: 3px !important;
}
table > thead >tr > th {
  font-weight: normal !important;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px !important;
  padding-bottom: 5px;
}
table >tbody > tr >td {
  padding: 0px !important;
  border-style: none !important;
  width:10%;
}
table >tbody > tr >td:first-child {
  color: green;
  width:40% !important
}
table >tbody > tr >td:last-child {
  width:5% !important;
  text-align: right;
}
table > thead >tr>th:last-child {
  text-align: right;
}
.flex1, .flex2 {
  width: 40%;
}
.badge{
  border-radius: 2.35rem !important;
}
a{
  text-decoration: none !important;
  color: #FFFFFF !important;
}
input {
  accent-color: #198754;
  font-size: 14px !important;
}
input[type=text] {
  outline: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #e8e8e8;
}
input[type=text]:focus-visible {
  border: none !important;
  border-bottom: 2px solid #198754 !important;
}
label, input::placeholder {
  font-size: 13px !important;
}
.white-bg{
  background-color: #FFFFFF !important;
  height: 650px;
}
.thisOver{
  display: inherit;
  flex-direction: column;
  align-items: start;
}

.form-control:invalid {
  outline: none;
}
.navbar {
  margin-bottom: 10px !important;
}
.navbar-brand{
  color: #FFFFFF !important;
}

p.label{
  font-weight: 500;
  color: #198754 !important;
  margin-bottom: 5px !important;
}
